<!DOCTYPE>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<title>Customers Lists</title>
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-top:7px;
   background-color:grey;
   color: white;
   text-align: center;
}
th,td{
  text-align:center;
}
</style>
</head>
<body style="font-family: 'Ubuntu', sans-serif;">
  <div class="container">
    <form id="searchform" type="get" action="/Inventory/ajax/search_inventory" accept-charset="utf-8" class="form-inline pull-right"  style="margin-top: 20px;margin-bottom: 10px;">
      <div class="form-group input-group col-md-12">
            <input type="text" class="form-control" name="search" placeholder="Search"  required/>
            <span class="input-group-btn">
                <button class="btn btn-info form-control" onClick="/Inventory/ajax/search_inventory" style="border-bottom-right-radius: 5px;border-top-right-radius:5px;">
                    <i class="glyphicon glyphicon-search" style="color:black;"></i>
                </button>
            </span>
      <!-- <input type="search" class="form-control" id="search" name="search" placeholder="Search"/>
      <span class="glyphicon glyphicon-search"></span> -->

      </div>
    </form>
    <h2 style="font-family: 'Pacifico', cursive;">Customers List</h2><br />
  </div>

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;border-radius:0px;">
  <div class="container"  style="border-radius:0px;">
    <ul class="nav navbar-nav" style="border-radius:0px;font-size:18px;font-family: 'Varela Round', sans-serif;">
      <li class="active"><a href="/Inventory/" >Home</a></li>
      <li><a href="/Billing/" >Billing</a></li>
      <li><a href="/Customers/" >Customers</a></li>
      <li><a href="#" >Others</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <table id="table" class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Mobile</th>
          <th>Outstanding</th>
          <th>Premium</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input id="Name" class="form-control ipt"></td>
          <td><input id="Addr" class="form-control ipt"></td>
          <td><input id="Mobile" class="form-control ipt"></td>
          <!-- <td><input id="GST" class="form-control ipt"></td> -->
          <!-- <td><input id="Lic" class="form-control ipt"></td> -->
          <td><input id="Out" class="form-control ipt" ></td>
          <td><input id="Prem" type="checkbox" class="ipt" style="width: 20px; text-align: center;"></td>
          <td><div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select
              <span class="caret"></span>
            </button>
          <ul class="dropdown-menu">
            <li><a href="" onClick="javascript:Add_customers()">Add</a></li>
            <li><a href="" onClick="javascript:Delete_customers()">Delete</a></li>
            <li><a href="" onClick="javascript:Clear_customers()">Clear</a></li>
          </ul></div></td>
          <td>
            <button class="btn btn-primary" type="button" onClick="location.href='/Customers/ajax/filter_customer/';">
              Premium
            </button>
          </td>
        </tr>
        {% for cst in Cst %}
        <tr class="val_row">
          <td>{{ cst.Name }}</td>
          <td>{{ cst.Addr }}</td>
          <td>{{ cst.Mobile }}</td>
          <!-- <td>{{ cst.GST }}</td>
          <td>{{ cst.Lic }}</td> -->
          <td>{{ cst.Outstanding }}</td>
          <td>{{ cst.Premium }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Footer -->
  <div class="footer">
    <p>Powered by <a href="#" style="color:white;">me</a></p>
  </div>
  <script type="text/javascript">
      var dataString = null;
      function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      };
      function make_ajax(dataString,url,method){
        var csrftoken = $.cookie('csrftoken');
        $.ajaxSetup({
              beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader("Content-Type", 'application/json')
                }
              }
            });
        $.ajax({
              type: method,
              url: url,
              data: dataString,
              success: function (data) {
                window.location.reload();
              },
              error: function (xhr, textStatus, errorThrown) {
              alert(errorThrown);
              }
           });
      }
      function Clear_inputs(){
        $('.ipt').val('');
        return 1;
      };

      function Validate_inputs(i){
        console.log(i)
        if (i==1){
          $('.ipt').each(function() {
          if(!$(this).val()){
              alert($(this).val())
              alert('Some fields are empty, Please Fill all the fields');
              return false;
          }
          });
          }
          else if (i==2){
            if(!$('#Name').val() && !$('#Btch').val()){
              alert('Name and Batch are empty, Please Fill the fields to update');
              return false;
            }
          }
          return true;
      };
      function Add_customers(){
        if (Validate_inputs(1)){
            if ($('#Prem').is(":checked")){
              var Prem=1;
            }
            else{
              var Prem=0;
            }
            dataString = JSON.stringify({
                'Name': $('#Name').val(),
                'Addr': $('#Addr').val(),
                'Mobile': $('#Mobile').val(),
                // 'GST': $('#GST').val(),
                // 'Lic': $('#Lic').val(),
                'Outstanding': $('#Out').val(),
                'Prem': Prem,
              });
            alert(dataString);
            make_ajax(dataString,'ajax/add_customer/','POST');
          }
        };
      function Delete_customers(){
        if(Validate_inputs(2)){
          dataString = JSON.stringify({
            'Name': $('#Name').val(),
            'Mobile': $('#Mobile').val(),
          });
          make_ajax(dataString,'ajax/delete_customer/','POST');
          }
        };
        function Search_customers(){
          if (Validate_inputs(2)){
             dataString = JSON.stringify({
            'Name': $('#Name').val(),
          });
          make_ajax(dataString,'ajax/search_customer/','GET');
          }
        };
        $(".val_row").click(function(){
          $(this).addClass('selected').siblings().removeClass('selected');
          var vals = $(this).getElementsByTagName("td");
          alert(vals[0].innerText);
          // $(this).children('td').each(function() {
          //   alert($(this).html());
          // }
          // );
      });
      </script>
</body>
</html>
